.accordion-button {
  &:not(.collapsed) {
    background-color: #03306b;
    color: #ffffff;
    box-shadow: none;

    &::after {
      filter: brightness(0) invert(1);
    }
  }

  &:hover {
    background-color: #ff4c12;
    color: #ffffff;

    &::after {
      filter: brightness(0) invert(1);
    }
  }
}
