.social-btn {
  &:hover,
  &:focus {
    background-color: #ff4c12;
    border-color: #ff4c12;
    color: #ffffff;
  }

  &:active {
    background-color: #03306b;
    border-color: #03306b;
    color: #ffffff;
  }
}
